.userStat__card{
 margin:auto;
 width:500px;
 border: 1px solid rgb(65, 25, 209);
}

.userStat__card__content{
 display:flex
}

.userStat{
 display:flex;
 margin-top:10px;
 
 
}
ul{
    list-style-type:none
}
.userStat__score{
margin:2px;
text-align:center;
padding:5px;

}
